<?xml version="1.0"?>
<robot name="mini_tractor" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg
    name="controllers_file"
    default="$(find tractor_description)/config/ros2_controllers.yaml"/>

  <xacro:include filename="$(find tractor_description)/urdf/tractor_properties.xacro"/>
  <xacro:include filename="$(find tractor_description)/urdf/tractor_core.xacro"/>
  <xacro:include filename="$(find tractor_description)/urdf/tractor_sensors.xacro"/>
  <xacro:include filename="$(find tractor_description)/urdf/tractor_ros2_control.xacro"/>
  <xacro:include filename="$(find tractor_description)/urdf/tractor_gazebo.xacro"/>

  <xacro:tractor_core/>
  <xacro:tractor_sensors/>
  <xacro:tractor_ros2_control/>
  <xacro:tractor_gazebo controllers_file="$(arg controllers_file)"/>

</robot>
